/********************** Styles for the login component ****************************/
label {
    color: black;
}

input {
    border: 0;
    outline: 0;
    color: black;
    background: white;
    border-bottom: 1px solid #1F4694;
  }
  

