p {
  color: black;
  font-size: 14pt;
}

table {
  color: black;
  border: none;
}

table td {
  border: none;
}

table tr {
  border: none;
}

.form-group span {
    color:black;
    font-size: 14px;
}

.form-group .required-info {
  color:#f68c1f;
  font-size: 12pt;	
}

.form-group .ng-control {
  font-size: 14px;
}

label {
  color: black;
}

password-change label {
  color: black !important;
}

legend {
  font-weight: bold;
  padding-bottom: inherit;
  margin-bottom: 20px;
  cursor:pointer;
  border-bottom: 2px solid #c1c0c0
}